@font-face {
   font-family: 'phagspab';
   font-display: swap;
   src: url('file:///Users/michalslomski/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-01-31_163800/fonts/phagspab/font.ttf');
}
